openapi: 3.0.0
info:
  # description: "This is a sample server Petstore server.  You can find out more about     Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).      For this sample, you can use the api key `special-key` to test the authorization     filters."
  version: "1.0.0"
  title: "PrintCart Rest API"
  contact:
    email: support@printcart.com
  # termsOfService: "http://swagger.io/terms/"
  # license:
  #   name: "Apache 2.0"
  #   url: "http://www.apache.org/licenses/LICENSE-2.0.html"
# host: "petstore.swagger.io"
servers:
  - url: "https://api.printcart.com/v1"
tags:
  - name: "Account"
  - name: "Store"
  - name: "Product"
  - name: "Side"
  - name: "Image"
  - name: "Clipart"
  - name: "Font"
  - name: "Design"
  - name: "Template"
  - name: "Storage"
  - name: "Project"
  - name: "Webhook"
  - name: "Clipart Storage"
  - name: "Project Folder"
paths:
  /account:
    post:
      tags:
        - "Account"
      operationId: "createAccount"
      summary: "Create Account"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Account"
        required: true
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponseCreate"
        "400":
          description: "Invalid input"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInput"
    get:
      tags:
        - "Account"
      operationId: "getAccount"
      summary: "Get Account Info"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponseShow"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicAuth: []
    put:
      tags:
        - "Account"
      operationId: "updateAccount"
      summary: "Update Account Details"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountUpdate"
        required: true
      responses:
        "200":
          description: "Updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponseUpdate"
        "400":
          description: "Invalid input"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicAuth: []
  /stores:
    post:
      tags:
        - "Store"
      operationId: "createStore"
      summary: "Create Store"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Store"
        required: true
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreResponseCreate"
        "400":
          description: |
            - Invalid input
            - Please upgrade your account.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/CheckUserTier"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicAuth: []
    get:
      tags:
        - "Store"
      operationId: "getStore"
      summary: "Get Store Info"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many stores"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: Too many stores
                    example: Too many stores
      security:
        - BasicAuth: []
    put:
      tags:
        - "Store"
      operationId: "updateStore"
      summary: "Update store details"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreUpdate"
        required: true
      responses:
        "200":
          description: "Updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreResponseUpdate"
        "400":
          description: "Invalid input"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
    delete:
      tags:
        - "Store"
      operationId: "deleteStore"
      summary: "Delete a store"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
  /stores/store-details:
    get:
      tags:
        - "Store"
      operationId: "getStoreById"
      summary: "Get Store details"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreResponseShow"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
        - UnAuthToken: []
  /stores/token-revoke:
    put:
      tags:
        - "Store"
      operationId: "tokenRevoke"
      summary: "Renew UnAuth Token"
      responses:
        "200":
          description: "Updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreTokenRevokeResponse"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
  /products:
    post:
      tags:
        - "Product"
      operationId: "postProduct"
      summary: "Create new product"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Product"
        required: true
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponseStore"
        "400":
          description: |
            - Invalid input
            - Duplicate Product
            - Please upgrade your account.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/CheckUserTier"
                  - $ref: "#/components/schemas/DuplicateProduct"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
    get:
      tags:
        - "Product"
      operationId: "getProduct"
      summary: "Get a list of products"
      parameters:
        - in: query
          name: sort
          schema:
            type: "string"
            default: "desc"
            enum:
              - "desc"
              - "asc"
          required: false
        - in: query
          name: limit
          schema:
            type: "string"
            default: 20
          required: false
          description: Limit the number of products 
        - in: query
          name: status
          schema:
            type: "string"
            default: "publish"
            enum:
            - "publish"
            - "draft"
            - "trashed"
          required: false
          description: Product status
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponseShowDataArray"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "413":
          description: "Too many products"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: Too many products
                    example: Too many products
      security:
        - BasicStore: []
        - UnAuthToken: []
  /products/{productId}:
    get:
      tags:
        - "Product"
      operationId: "getProductById"
      summary: "Get product details"
      parameters:
        - in: "path"
          name: "productId"
          description: "Product ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponseShowDataObject"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicStore: []
        - UnAuthToken: []
    put:
      tags:
        - "Product"
      operationId: "updateProduct"
      summary: "Update product details"
      parameters:
        - in: "path"
          name: "productId"
          description: "Product ID"
          required: true
          schema:
            type: "string"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductUpdate"
        required: true
      responses:
        "200":
          description: "Updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponseUpdate"
        "400":
          description: "Invalid input"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
    delete:
      tags:
        - "Product"
      operationId: "deleteProduct"
      summary: "Delete a product"
      parameters:
        - in: "path"
          name: "productId"
          description: "Product ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
  /products/batch:
    post:
      tags:
        - "Product"
      operationId: "postProductsBatch"
      summary: "Create batch products"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductBatch"
        required: true
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductBatchResponse"
        "400":
          description: |
            - Invalid input
            - Please upgrade your account.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/CheckUserTier"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many products"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "Too many products"
                    example: "Too many products"
        "500":
          description: "Something went wrong while create products"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Something went wrong while create products"
                    example: "Something went wrong while create products"
      security:
        - BasicStore: []
    put:
      tags:
        - "Product"
      operationId: "putProductsBatch"
      summary: "Update batch products"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductBatchUpdate"
        required: true
      responses:
        "200":
          description: "Updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductBatchUpdateResponse"
        "400":
          description: "Invalid input"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: |
            - Can't find product with id
            - Not found
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/ProductError"
                  - $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many products"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "Too many products"
                    example: "Too many products"
        "500":
          description: "Something went wrong while update products"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Something went wrong while update products"
                    example: "Something went wrong while update products"
      security:
        - BasicStore: []
    delete:
      tags:
        - "Product"
      operationId: "deleteProductsBatch"
      summary: "Delete batch products"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductBatchDelete"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "400":
          description: |
            - No Data
            - Invalid input
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/NoData"
                  - $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: |
            - "Not found"
            - "Can't find product with id"
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/NotFound"
                  - $ref: "#/components/schemas/ProductError"
        "413":
          description: "Too many products"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "Too many products"
                    example: "Too many products"
      security:
        - BasicStore: []
  /products/{productId}/designs:
    get:
      tags:
        - "Product"
      operationId: "getDesignsByProduct"
      summary: "Get a list of designs by product"
      parameters:
        - in: "path"
          name: "productId"
          description: "Product ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many designs by product"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: Too many designs by product
                    example: Too many designs by product
      security:
        - BasicStore: []
  /products/{productId}/sides:
    get:
      tags:
        - "Product"
      operationId: "getSidesByProduct"
      summary: "Get a list of sides by product"
      parameters:
        - in: "path"
          name: "productId"
          description: "Product ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SideResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many sides by product"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: Too many sides by product
                    example: Too many sides by product
      security:
        - BasicStore: []
        - UnAuthToken: []
  /products/{productId}/designs/count:
    get:
      tags:
        - "Product"
      operationId: "getCountDesignsByProduct"
      summary: "Get a count of designs by product"
      parameters:
        - in: "path"
          name: "productId"
          description: "Product ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignCount"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicStore: []
  /products/{productId}/sides/count:
    get:
      tags:
        - "Product"
      operationId: "getCountSidesByProduct"
      summary: "Get a count of sides by product"
      parameters:
        - name: "productId"
          in: "path"
          description: "Product ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SideCount"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicStore: []
  /products/count:
    get:
      tags:
        - "Product"
      operationId: "getCountProduct"
      summary: "Get a count of products"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductCount"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicStore: []
  /sides:
    post:
      tags:
        - "Side"
      operationId: "postSide"
      summary: "Create new product side"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Side"
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SideResponseStore"
        "400":
          description: |
            - Invalid input
            - Invalid Content-type header
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/SideHeaderContentType"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
    get:
      tags:
        - "Side"
      operationId: "getSide"
      summary: "Get a list of product sides"
      parameters:
        - in: query
          name: sort
          schema:
            type: "string"
            default: "desc"
            enum:
              - "desc"
              - "asc"
          required: false
        - in: query
          name: limit
          schema:
            type: "string"
            default: 20
          required: false
          description: Limit the number of sides 
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SideResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many sides
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: Too many sides
                    example: Too many sides
      security:
        - BasicStore: []
        - UnAuthToken: []
  /sides/{sideId}:
    get:
      tags:
        - "Side"
      operationId: "getSideById"
      summary: "Get product side details"
      parameters:
        - name: "sideId"
          in: "path"
          description: "Side ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SideResponseShowDataObject"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
        - UnAuthToken: []
    put:
      tags:
        - "Side"
      operationId: "updateSide"
      summary: "Update a product side details"
      parameters:
        - name: "sideId"
          in: "path"
          description: "Side ID"
          required: true
          schema:
            type: "string"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SideUpdate"
      responses:
        "200":
          description: "Updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SideResponseUpdate"
        "400":
          description: |
            - Invalid input
            - Invalid Content-type header
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/SideHeaderContentType"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
    delete:
      tags:
        - "Side"
      operationId: "deleteSide"
      summary: "Delete a product side"
      parameters:
        - name: "sideId"
          in: "path"
          description: "Side ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
  /sides/batch:
    post:
      tags:
        - "Side"
      operationId: "postSidesBatch"
      summary: "Create batch sides"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SideBatch"
        required: true
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SideBatchResponse"
        "400":
          description: |
            - Invalid input
            - Not found
            - Invalid Content-type header
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/NotFound"
                  - $ref: "#/components/schemas/SideHeaderContentType"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "413":
          description: "Too many sides"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "Too many sides"
                    example: "Too many sides"
        "500":
          description: "Something went wrong while create sides"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Something went wrong while create sides"
                    example: "Something went wrong while create sides"
      security:
        - BasicStore: []
    put:
      tags:
        - "Side"
      operationId: "putSidesBatch"
      summary: "Update batch sides"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SideBatchUpdate"
      responses:
        "200":
          description: "Updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SideBatchUpdateResponse"
        "400":
          description: |
            - Invalid input
            - Not found
            - Invalid Content-type header
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/NotFound"
                  - $ref: "#/components/schemas/SideHeaderContentType"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Can't find side with id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SideError"
        "413":
          description: "Too many sides"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "Too many sides"
                    example: "Too many sides"
        "500":
          description: "Something went wrong while update sides"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Something went wrong while update sides"
                    example: "Something went wrong while update sides"
      security:
        - BasicStore: []
    delete:
      tags:
        - "Side"
      operationId: "deleteSidesBatch"
      summary: "Delete batch sides"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SideBatchDelete"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "400":
          description: | 
            - No data
            - Invalid input
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/NoData"
                  - $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: |
            - "Not found"
            - "Can't find side with id"
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/NotFound"
                  - $ref: "#/components/schemas/SideError"
        "413":
          description: "Too many sides"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "Too many sides"
                    example: "Too many sides"
      security:
        - BasicStore: []
  /sides/{sideId}/templates:
    get:
      get:
      tags:
        - "Side"
      operationId: "getTemplatesBySide"
      summary: "Get a list of templates by side"
      parameters:
        - name: "sideId"
          in: "path"
          description: "Side ID"
          required: true
          schema:
            type: "string"
        - in: query
          name: sort
          schema:
            type: "string"
            default: "desc"
            enum:
              - "desc"
              - "asc"
          required: false
        - in: query
          name: limit
          schema:
            type: "string"
            default: 20
          required: false
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many templates by side
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: Too many templates by side
                    example: Too many templates by side
      security:
        - BasicStore: []
        - UnAuthToken: []
  /sides/count:
    get:
      tags:
        - "Side"
      operationId: "getCountSide"
      summary: "Get a count of product sides"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SideCount"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicStore: []
  /fonts:
    post:
      tags:
        - "Font"
      operationId: "addFont"
      summary: "Add new font"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Font"
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FontResponseStore"
        "400":
          description: "Invalid input"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicStore: []
    get:
      tags:
        - "Font"
      operationId: "getFonts"
      summary: "Get a list of fonts"
      parameters:
        - in: query
          name: sort
          schema:
            type: "string"
            default: "desc"
            enum:
              - "desc"
              - "asc"
          required: false
        - in: query
          name: limit
          schema:
            type: "string"
            default: 20
          required: false
          description: Limit the number of fonts 
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FontResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many fonts
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: "string"
                    description: Too many fonts
                    example: Too many fonts
      security:
        - BasicStore: []
        - UnAuthToken: []
  /fonts/default:
    get:
      tags:
        - "Font"
      operationId: "getFontsDefault"
      summary: "Get a list of fonts default"
      parameters:
        - in: query
          name: sort
          schema:
            type: "string"
            default: "desc"
            enum:
              - "desc"
              - "asc"
          required: false
        - in: query
          name: limit
          schema:
            type: "string"
            default: 20
          required: false
          description: Limit the number of fonts 
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FontResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many fonts
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: "string"
                    description: Too many fonts
                    example: Too many fonts
      security:
        - BasicStore: []
        - UnAuthToken: []
  /fonts/{fontId}:
    get:
      tags:
        - "Font"
      operationId: "getFontById"
      summary: "Get font details"
      parameters:
        - name: "fontId"
          in: "path"
          description: "Font ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FontResponseShowDataObject"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
        - UnAuthToken: []
    put:
      tags:
        - "Font"
      operationId: "updateFont"
      summary: "Update font details"
      parameters:
        - name: "fontId"
          in: "path"
          description: "Font ID"
          required: true
          schema:
            type: "string"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FontUpdate"
      responses:
        "200":
          description: "Updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FontResponseUpdate"
        "400":
          description: "Invalid input"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
    delete:
      tags:
        - "Font"
      operationId: "deleteFont"
      summary: "Delete font"
      parameters:
        - name: "fontId"
          in: "path"
          description: "Font ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
  /fonts/count:
    get:
      tags:
        - "Font"
      operationId: "getCountFont"
      summary: "Get a count of fonts"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FontCount"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicStore: []
  /images:
    post:
      tags:
        - "Image"
      operationId: "uploadFile"
      summary: "Add new image"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  type: "string"
                  description: "Image to upload"
                  format: binary
                type: 
                  type: "string"
                  default: null
                  enum:
                    - "null"
                    - "cliparts"
                    - "designs"
      responses:
        "201":
          description: "File successfully uploaded"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageResponseStore"
        "400":
          description: |
            - Invalid input
            - File upload missing
            - Please upgrade your account.
          content:
            application/json:
              schema:
                anyOf: 
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/MissingImage"
                  - $ref: "#/components/schemas/CheckUserTier"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "415":
          description: "Unsupported Media Type"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "Unsupported Media Type"
                    example: "Unsupported Media Type"
      security:
        - BasicStore: []
        - UnAuthToken: []
    get:
      tags:
        - "Image"
      operationId: "getImage"
      summary: "Get a list of images"
      parameters:
        - in: query
          name: sort
          schema:
            type: "string"
            default: "desc"
            enum:
              - "desc"
              - "asc"
          required: false
        - in: query
          name: limit
          schema:
            type: "string"
            default: 20
          required: false
          description: Limit the number of images 
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many images
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: "string"
                    description: Too many images
                    example: Too many images
      security:
        - BasicStore: []
        - UnAuthToken: []
  /images/{imageId}:
    get:
      tags:
        - "Image"
      operationId: "getImageById"
      summary: "Get image details"
      parameters:
        - name: "imageId"
          in: "path"
          description: "Image ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageResponseShowDataObject"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
    delete:
      tags:
        - "Image"
      operationId: "deleteImageById"
      summary: "Delete a image"
      parameters:
        - name: "imageId"
          in: "path"
          description: "Image Id"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
  /images/batch:
    post:
      tags:
        - "Image"
      operationId: "uploadFiles"
      summary: "Add new batch images"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              properties:
                files[]:
                  type: "string"
                  description: "Image to upload"
                  format: binary
                type: 
                  type: "string"
                  default: null
                  enum:
                    - "null"
                    - "cliparts"
                    - "designs"
      responses:
        "201":
          description: "File successfully uploaded"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageResponseStoreBatch"
        "400":
          description: |
            - Invalid input
            - File upload missing
            - Please upgrade your account.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/MissingImage"
                  - $ref: "#/components/schemas/CheckUserTier"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "415":
          description: "Unsupported Media Type"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "Unsupported Media Type"
                    example: "Unsupported Media Type"
      security:
        - BasicStore: []
        - UnAuthToken: []
  /images/count:
    get:
      tags:
        - "Image"
      operationId: "getCountImage"
      summary: "Get a count of images"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageCount"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicStore: []
  /cliparts:
    post:
      tags:
        - "Clipart"
      operationId: "uploadFileClipart"
      summary: "Add new Clipart"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  type: "string"
                  description: "Clipart to upload"
                  format: binary
      responses:
        "201":
          description: "File successfully uploaded"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClipartResponseStore"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "400":
          description: "File upload missing"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "File upload missing"
                    example: "File upload missing"
        "415":
          description: "Unsupported Media Type"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "Unsupported Media Type"
                    example: "Unsupported Media Type"
      security:
        - BasicStore: []
    get:
      tags:
        - "Clipart"
      operationId: "getClipart"
      summary: "Get a list of cliparts"
      parameters:
        - in: query
          name: sort
          schema:
            type: "string"
            default: "desc"
            enum:
              - "desc"
              - "asc"
          required: false
        - in: query
          name: limit
          schema:
            type: "string"
            default: 20
          required: false
          description: Limit the number of cliparts 
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClipartResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many cliparts
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: "string"
                    description: Too many cliparts
                    example: Too many cliparts
      security:
        - BasicStore: []
        - UnAuthToken: []
  /cliparts/default:
    get:
      tags:
        - "Clipart"
      operationId: "getClipartDefault"
      summary: "Get a list of cliparts default"
      parameters:
        - in: query
          name: sort
          schema:
            type: "string"
            default: "desc"
            enum:
              - "desc"
              - "asc"
          required: false
        - in: query
          name: limit
          schema:
            type: "string"
            default: 20
          required: false
          description: Limit the number of cliparts default 
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClipartResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many cliparts
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: "string"
                    description: Too many cliparts
                    example: Too many cliparts
      security:
        - BasicStore: []
        - UnAuthToken: []
  /cliparts/{clipartId}:
    get:
      tags:
        - "Clipart"
      operationId: "getClipartById"
      summary: "Get clipart details"
      parameters:
        - name: "clipartId"
          in: "path"
          description: "Clipart ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClipartResponseShowDataObject"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
        - UnAuthToken: []
    put:
      tags:
        - "Clipart"
      operationId: "updateClipart"
      summary: "Update clipart details"
      parameters:
        - name: "clipartId"
          in: "path"
          description: "Clipart ID"
          required: true
          schema:
            type: "string"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClipartUpdate"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClipartResponseUpdate"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
    delete:
      tags:
        - "Clipart"
      operationId: "deleteClipartById"
      summary: "Delete a clipart"
      parameters:
        - name: "clipartId"
          in: "path"
          description: "Clipart Id"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
  /clipart/batch:
    post:
      tags:
        - "Clipart"
      operationId: "uploadFilesClipart"
      summary: "Add new batch clipart"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              properties:
                files[]:
                  type: "string"
                  description: "Clipart to upload"
                  format: binary
      responses:
        "201":
          description: "File successfully uploaded"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClipartResponseStoreBatch"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "400":
          description: "File upload missing"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "File upload missing"
                    example: "File upload missing"
        "415":
          description: "Unsupported Media Type"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "Unsupported Media Type"
                    example: "Unsupported Media Type"
      security:
        - BasicStore: []
  /cliparts/count:
    get:
      tags:
        - "Clipart"
      operationId: "getCountClipart"
      summary: "Get a count of cliparts"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClipartCount"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicStore: []
        - UnAuthToken: []
  /clipart-storages:
    post:
      tags:
        - "Clipart Storage"
      operationId: "postClipartStorage"
      summary: "Create new Clipart - Storage"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClipartStorage"
      responses:
        "201":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryResponseStore"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
    get:
      tags:
        - "Clipart Storage"
      operationId: "getClipartStorage"
      summary: "Get a list of Cliparts - Storages"
      parameters:
        - in: query
          name: sort
          schema:
            type: "string"
            default: "desc"
            enum:
              - "desc"
              - "asc"
          required: false
        - in: query
          name: limit
          schema:
            type: "string"
            default: 20
          required: false
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many storages"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Too many storages"
                    example: "Too many storages"
      security:
        - BasicStore: []
        - UnAuthToken: []
  /clipart-storages/default:
    get:
      tags:
        - "Clipart Storage"
      operationId: "getClipartStorageDefault"
      summary: "Get a list of Cliparts - Storages default"
      parameters:
        - in: query
          name: sort
          schema:
            type: "string"
            default: "desc"
            enum:
              - "desc"
              - "asc"
          required: false
        - in: query
          name: limit
          schema:
            type: "string"
            default: 20
          required: false
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many storages"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Too many storages"
                    example: "Too many storages"
      security:
        - BasicStore: []
        - UnAuthToken: []
  /clipart-storages/{storageId}:
    delete:
      tags:
        - "Clipart Storage"
      operationId: "deleteClipartStorage"
      summary: "Delete a Clipart - Storage"
      parameters:
        - name: "storageId"
          in: "path"
          description: "Storage ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
  /clipart-storages/{storageId}/cliparts:
    get:
      tags:
        - "Clipart Storage"
      operationId: "getClipartsByStorage"
      summary: "Get a list of Cliparts by Storage"
      parameters:
        - name: "storageId"
          in: "path"
          description: "Storage ID"
          required: true
          schema:
            type: "string"
        - in: query
          name: sort
          schema:
            type: "string"
            default: "desc"
            enum:
              - "desc"
              - "asc"
          required: false
        - in: query
          name: limit
          schema:
            type: "string"
            default: 20
          required: false
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many cliparts
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: "string"
                    description: Too many cliparts
                    example: Too many cliparts
      security:
        - BasicStore: []
        - UnAuthToken: []
  /clipart-storages/{storageId}/cliparts-default:
    get:
      tags:
        - "Clipart Storage"
      operationId: "getClipartsByStorageDefault"
      summary: "Get a list of Cliparts by Storage default"
      parameters:
        - name: "storageId"
          in: "path"
          description: "Storage ID"
          required: true
          schema:
            type: "string"
        - in: query
          name: sort
          schema:
            type: "string"
            default: "desc"
            enum:
              - "desc"
              - "asc"
          required: false
        - in: query
          name: limit
          schema:
            type: "string"
            default: 20
          required: false
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many cliparts
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: "string"
                    description: Too many cliparts
                    example: Too many cliparts
      security:
        - BasicStore: []
        - UnAuthToken: []
  /clipart-storages/{clipartId}/storages:
    get:
      tags:
        - "Clipart Storage"
      operationId: "getStoragesByClipart"
      summary: "Get a list of Storages by Clipart"
      parameters:
        - name: "clipartId"
          in: "path"
          description: "Clipart ID"
          required: true
          schema:
            type: "string"
        - in: query
          name: sort
          schema:
            type: "string"
            default: "desc"
            enum:
              - "desc"
              - "asc"
          required: false
        - in: query
          name: limit
          schema:
            type: "string"
            default: 20
          required: false
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many storages
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: "string"
                    description: Too many storages
                    example: Too many storages
      security:
        - BasicStore: []
        - UnAuthToken: []
  /clipart-storages/{clipartId}/storages-default:
    get:
      tags:
        - "Clipart Storage"
      operationId: "getStoragesByClipartDefault"
      summary: "Get a list of Storages by Clipart default"
      parameters:
        - name: "clipartId"
          in: "path"
          description: "Clipart ID"
          required: true
          schema:
            type: "string"
        - in: query
          name: sort
          schema:
            type: "string"
            default: "desc"
            enum:
              - "desc"
              - "asc"
          required: false
        - in: query
          name: limit
          schema:
            type: "string"
            default: 20
          required: false
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many storages
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: "string"
                    description: Too many storages
                    example: Too many storages
      security:
        - BasicStore: []
        - UnAuthToken: []
  /designs:
    post:
      tags:
        - "Design"
      operationId: "postDesign"
      summary: "Create new design"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DesignJson"
          # multipart/form-data:
          #   schema:
          #     $ref: "#/components/schemas/Design"
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignResponseStore"
        "400":
          description: |
            - Invalid input
            - Invalid design file
            - Missing design file
            - Invalid Content-Type header
            - Please upgrade your account.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/InvalidDesignFile"
                  - $ref: "#/components/schemas/MissingDesignFile"
                  - $ref: "#/components/schemas/InvalidContentTypeHeader"
                  - $ref: "#/components/schemas/CheckUserTier"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
        - UnAuthToken: []
    get:
      tags:
        - "Design"
      operationId: "getDesign"
      summary: "Get a list of designs"
      parameters:
        - in: query
          name: sort
          schema:
            type: "string"
            default: "desc"
            enum:
              - "desc"
              - "asc"
          required: false
        - in: query
          name: limit
          schema:
            type: "string"
            default: 20
          required: false
          description: Limit the number of designs 
        - in: query
          name: status
          schema:
            type: "string"
            enum:
            - "accepted"
            - "processing"
            - "declined"
            - "trashed"
          required: false
          description: Design status
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many designs
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: "string"
                    description: Too many designs
                    example: Too many designs
      security:
        - BasicStore: []
  /designs/{designId}:
    get:
      tags:
        - "Design"
      operationId: "getDesignById"
      summary: "Get design details"
      parameters:
        - name: "designId"
          in: "path"
          description: "Design ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignResponseShowDataObject"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
        - UnAuthToken: []
    put:
      tags:
        - "Design"
      operationId: "updateDesign"
      summary: "Update design details"
      parameters:
        - name: "designId"
          in: "path"
          description: "Design ID"
          required: true
          schema:
            type: "string"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DesignUpdateJson"
          # multipart/form-data:
          #   schema:
          #     $ref: "#/components/schemas/DesignUpdate"
      responses:
        "200":
          description: "Updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignResponseUpdate"
        "400":
          description: |
            - Invalid input
            - Invalid design file
            - Invalid Content-Type header
            - Please upgrade your account.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/InvalidDesignFile"
                  - $ref: "#/components/schemas/InvalidContentTypeHeader"
                  - $ref: "#/components/schemas/CheckUserTier"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
        - UnAuthToken: []
    delete:
      tags:
        - "Design"
      operationId: "deleteDesign"
      summary: "Delete a design"
      parameters:
        - name: "designId"
          in: "path"
          description: "Design ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
  /designs/batch:
    post:
      tags:
        - "Design"
      operationId: "postDesignsBatch"
      summary: "Create batch designs"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DesignBatchJson"
          # multipart/form-data:
          #   schema:
          #     $ref: "#/components/schemas/DesignBatch"
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignBatchResponse"
        "400":
          description: |
            - No data
            - Invalid input
            - Invalid design file
            - Missing design file
            - Invalid Content-Type header
            - Please upgrade your account.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/NoData"
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/InvalidDesignFile"
                  - $ref: "#/components/schemas/MissingDesignFile"
                  - $ref: "#/components/schemas/InvalidContentTypeHeader"
                  - $ref: "#/components/schemas/CheckUserTier"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many designs"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Too many designs"
                    example: "Too many designs"
        "500":
          description: "Something went wrong while create designs"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Something went wrong while create designs"
                    example: "Something went wrong while create designs"
      security:
        - BasicStore: []
        - UnAuthToken: []
    put:
      tags:
        - "Design"
      operationId: "putDesignsBatch"
      summary: "Update batch designs"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DesignBatchUpdateJson"
          # multipart/form-data:
          #   schema:
          #     $ref: "#/components/schemas/DesignBatchUpdate"
      responses:
        "200":
          description: "Updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignBatchUpdateResponse"
        "400":
          description: |
            - No data
            - Invalid input
            - Invalid design file
            - Invalid Content-Type header
            - Please upgrade your account.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/NoData"
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/InvalidDesignFile"
                  - $ref: "#/components/schemas/InvalidContentTypeHeader"
                  - $ref: "#/components/schemas/CheckUserTier"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: |
            - Not found
            - Can't find design with id
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/NotFound"
                  - $ref: "#/components/schemas/DesignError"
        "413":
          description: "Too many designs"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Too many designs"
                    example: "Too many designs"
        "500":
          description: "Something went wrong while update designs"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Something went wrong while update designs"
                    example: "Something went wrong while update designs"
      security:
        - BasicStore: []
        - UnAuthToken: []
    delete:
      tags:
        - "Design"
      operationId: "deleteDesignsBatch"
      summary: "Delete batch designs"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DesignBatchDelete"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "400":
          description: |
            - No data
            - Invalid input
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/NoData"
                  - $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: Can't find design with id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignError"
        "413":
          description: "Too many designs"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Too many designs"
                    example: "Too many designs"
      security:
        - BasicStore: []
  /designs/{designId}/fonts:
    get:
      tags:
        - "Design"
      operationId: "getFontsInLayersDesignById"
      summary: "Get list fonts layer by design"
      parameters:
        - name: "designId"
          in: "path"
          description: "Design ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignFont"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many fonts"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Too many fonts"
                    example: "Too many fonts"
      security:
        - BasicStore: []
        - UnAuthToken: []
  /designs/images:
    get:
      tags:
        - "Design"
      operationId: "getDesignImage"
      summary: "Get a list images design"
      parameters:
        - in: query
          name: sort
          schema:
            type: "string"
            default: "desc"
            enum:
              - "desc"
              - "asc"
          required: false
        - in: query
          name: limit
          schema:
            type: "string"
            default: 20
          required: false
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many images"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Too many images"
                    example: "Too many images"
      security:
        - BasicStore: []
        - UnAuthToken: []
  /designs/count:
    get:
      tags:
        - "Design"
      operationId: "getCountDesign"
      summary: "Get a count of designs"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignCount"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicStore: []
  /templates:
    post:
      tags:
        - "Template"
      operationId: "postTemplate"
      summary: "Create new template"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TemplateJson"
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateResponseStore"
        "400":
          description: |
            - Invalid input
            - Invalid template file
            - Missing template file
            - Invalid Content-Type header
            - Please upgrade your account.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/InvalidTemplateFile"
                  - $ref: "#/components/schemas/MissingTemplateFile"
                  - $ref: "#/components/schemas/InvalidContentTypeHeader"
                  - $ref: "#/components/schemas/CheckUserTier"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
        - UnAuthToken: []
    get:
      tags:
        - "Template"
      operationId: "getTemplates"
      summary: "Get a list of templates"
      parameters:
        - in: query
          name: sort
          schema:
            type: "string"
            default: "desc"
            enum:
              - "desc"
              - "asc"
          required: false
        - in: query
          name: limit
          schema:
            type: "string"
            default: 20
          required: false
          description: Limit the number of templates 
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many templates"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Too many templates"
                    example: "Too many templates"
      security:
        - BasicStore: []
        - UnAuthToken: []
  /templates/template-default:
    get:
      tags:
        - "Template"
      operationId: "getTemplatesDefault"
      summary: "Get a list of templates default"
      parameters:
        - in: query
          name: sort
          schema:
            type: "string"
            default: "desc"
            enum:
              - "desc"
              - "asc"
          required: false
        - in: query
          name: limit
          schema:
            type: "string"
            default: 20
          required: false
          description: Limit the number of templates default
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many templates"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Too many templates"
                    example: "Too many templates"
      security:
        - BasicStore: []
        - UnAuthToken: []
  /templates/{templateId}:
    get:
      tags:
        - "Template"
      operationId: "getTemplateById"
      summary: "Get template details"
      parameters:
        - name: "templateId"
          in: "path"
          description: "Template ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateResponseShowDataObject"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
        - UnAuthToken: []
    put:
      tags:
        - "Template"
      operationId: "updateTemplate"
      summary: "Update template details"
      parameters:
        - name: "templateId"
          in: "path"
          description: "Template ID"
          required: true
          schema:
            type: "string"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TemplateUpdateJson"
      responses:
        "200":
          description: "Updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateResponseUpdate"
        "400":
          description: |
            - Invalid input
            - Invalid template file
            - Invalid Content-Type header
            - Please upgrade your account.
          content:
            application/json:
              schema:
                anyOf:
[...]
