openapi: 3.0.0
info:
  # description: "This is a sample server Petstore server.  You can find out more about     Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).      For this sample, you can use the api key `special-key` to test the authorization     filters."
  version: "1.0.0"
  title: "PrintCart Rest API"
  contact:
    email: printcart@gmail.com
  # termsOfService: "http://swagger.io/terms/"
  # license:
  #   name: "Apache 2.0"
  #   url: "http://www.apache.org/licenses/LICENSE-2.0.html"
# host: "petstore.swagger.io"
servers:
  - url: "https://api.printcart.com/v1"
tags:
  - name: "Product"
  - name: "Side"
  - name: "Image"
  - name: "Clipart"
  - name: "Font"
  - name: "Design"
  - name: "Template"
  - name: "Template Item"
  - name: "Storage"
  - name: "Project"
  - name: "Account"
  - name: "Store"
  - name: "Webhook"
  - name: "Product Template"
  - name: "Template Category"
  - name: "Clipart Storage"
  - name: "Project Folder"
paths:
  /account:
    post:
      tags:
        - "Account"
      operationId: "createAccount"
      summary: "Create Account"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Account"
        required: true
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponseStore"
        "400":
          description: "Invalid input"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInput"
    get:
      tags:
        - "Account"
      operationId: "getAccount"
      summary: "Get Account Info"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponseShow"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicAuth: []
    put:
      tags:
        - "Account"
      operationId: "updateAccount"
      summary: "Update Account Details"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountUpdate"
        required: true
      responses:
        "200":
          description: "Updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponseUpdate"
        "400":
          description: "Invalid input"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicAuth: []
  /stores:
    post:
      tags:
        - "Store"
      operationId: "createStore"
      summary: "Create Store"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Store"
        required: true
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreResponseCreate"
        "400":
          description: |
            - Invalid input
            - Please upgrade your account.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/CheckUserTier"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicAuth: []
    get:
      tags:
        - "Store"
      operationId: "getStore"
      summary: "Get Store Info"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many stores"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: Too many stores
                    example: Too many stores
      security:
        - BasicAuth: []
    put:
      tags:
        - "Store"
      operationId: "updateStore"
      summary: "Update store details"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreUpdate"
        required: true
      responses:
        "200":
          description: "Updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreResponseUpdate"
        "400":
          description: "Invalid input"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
  /stores/{storeID}:
    delete:
      tags:
        - "Store"
      operationId: "deleteStore"
      summary: "Delete a store"
      parameters:
        - name: "storeId"
          in: "path"
          description: "Store ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicAuth: []
  # /stores/shopify:
  #   post:
  #     tags:
  #       - "Store"
  #     operationId: "createStoreShopifyPrivateApp"
  #     summary: "Create Store Shopify"
  #     requestBody:
  #       content:
  #         application/json:
  #           schema:
  #             $ref: "#/components/schemas/StoreShopifyPrivateApp"
  #       required: true
  #     responses:
  #       "201":
  #         description: "Created successfully"
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/StoreResponseCreate"
  #       "400":
  #         description: |
  #           - Invalid input
  #           - Please upgrade your account.
  #         content:
  #           application/json:
  #             schema:
  #               anyOf:
  #                 - $ref: "#/components/schemas/InvalidInput"
  #                 - $ref: "#/components/schemas/CheckUserTier"
  #       "401":
  #         description: "Unauthenticated"
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/Unauthenticated"
  #     security:
  #       - BasicAuth: []
  /stores/store-details:
    get:
      tags:
        - "Store"
      operationId: "getStoreById"
      summary: "Get Store details"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreResponseShow"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
        - UnAuthToken: []
  /stores/token-revoke:
    put:
      tags:
        - "Store"
      operationId: "tokenRevoke"
      summary: "Renew UnAuth Token"
      responses:
        "200":
          description: "Updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreTokenRevokeResponse"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicAuth: []
  /products:
    post:
      tags:
        - "Product"
      operationId: "postProduct"
      summary: "Create new product"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Product"
        required: true
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponseStore"
        "202":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponseStore"
        "400":
          description: |
            - Invalid input
            - Please upgrade your account.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/CheckUserTier"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
    get:
      tags:
        - "Product"
      operationId: "getProduct"
      summary: "Get a list of products"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponseShowDataArray"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "413":
          description: "Too many products"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: Too many products
                    example: Too many products
      security:
        - BasicStore: []
        - UnAuthToken: []
  /products/{productId}:
    get:
      tags:
        - "Product"
      operationId: "getProductById"
      summary: "Get product details"
      parameters:
        - name: "productId"
          in: "path"
          description: "Product ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponseShowDataObject"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicStore: []
        - UnAuthToken: []
    put:
      tags:
        - "Product"
      operationId: "updateProduct"
      summary: "Update product details"
      parameters:
        - name: "productId"
          in: "path"
          description: "Product ID"
          required: true
          schema:
            type: "string"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductUpdate"
        required: true
      responses:
        "200":
          description: "Updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponseUpdate"
        "400":
          description: "Invalid input"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
    delete:
      tags:
        - "Product"
      operationId: "deleteProduct"
      summary: "Delete a product"
      parameters:
        - name: "productId"
          in: "path"
          description: "Product ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
  /products/batch:
    post:
      tags:
        - "Product"
      operationId: "postProductsBatch"
      summary: "Create batch products"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductBatch"
        required: true
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductBatchResponse"
        "400":
          description: |
            - Invalid input
            - Please upgrade your account.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/CheckUserTier"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many products"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "Too many products"
                    example: "Too many products"
        "500":
          description: "Something went wrong while create products"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Something went wrong while create products"
                    example: "Something went wrong while create products"
      security:
        - BasicStore: []
    put:
      tags:
        - "Product"
      operationId: "putProductsBatch"
      summary: "Update batch products"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductBatchUpdate"
        required: true
      responses:
        "200":
          description: "Updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductBatchUpdateResponse"
        "400":
          description: "Invalid input"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: |
            - Can't find product with id
            - Not found
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/ProductError"
                  - $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many products"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "Too many products"
                    example: "Too many products"
        "500":
          description: "Something went wrong while update products"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Something went wrong while update products"
                    example: "Something went wrong while update products"
      security:
        - BasicStore: []
    delete:
      tags:
        - "Product"
      operationId: "deleteProductsBatch"
      summary: "Delete batch products"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductBatchDelete"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Can't find product with id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductError"
        "500":
          description: "Something went wrong while delete products"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Something went wrong while delete products"
                    example: "Something went wrong while delete products"
      security:
        - BasicStore: []
  /products/{productId}/designs:
    get:
      tags:
        - "Product"
      operationId: "getDesignsByProduct"
      summary: "Get a list of designs by product"
      parameters:
        - name: "productId"
          in: "path"
          description: "Product ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many designs by product"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: Too many designs by product
                    example: Too many designs by product
      security:
        - BasicStore: []
  /products/{productId}/sides:
    get:
      tags:
        - "Product"
      operationId: "getSidesByProduct"
      summary: "Get a list of sides by product"
      parameters:
        - name: "productId"
          in: "path"
          description: "Product ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SideResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many sides by product"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: Too many sides by product
                    example: Too many sides by product
      security:
        - BasicStore: []
        - UnAuthToken: []
  /products/{productId}/designs/count:
    get:
      tags:
        - "Product"
      operationId: "getCountDesignsByProduct"
      summary: "Get a count of designs by product"
      parameters:
        - name: "productId"
          in: "path"
          description: "Product ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignCount"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicStore: []
  /products/{productId}/sides/count:
    get:
      tags:
        - "Product"
      operationId: "getCountSidesByProduct"
      summary: "Get a count of sides by product"
      parameters:
        - name: "productId"
          in: "path"
          description: "Product ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SideCount"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicStore: []
  /products/count:
    get:
      tags:
        - "Product"
      operationId: "getCountProduct"
      summary: "Get a count of products"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductCount"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicStore: []
  /product-template:
    post:
      tags:
        - "Product Template"
      operationId: "postProductTemplate"
      summary: "Create new product template"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductTemplate"
        required: true
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponseStore"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
    get:
      tags:
        - "Product Template"
      operationId: "getProductTemplate"
      summary: "Get a list of Products - Templates"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many products"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Too many products"
                    example: "Too many products"
      security:
        - BasicStore: []
        - UnAuthToken: []
  /product-template/{productId}/templates:
    get:
      tags:
        - "Product Template"
      operationId: "getTemplatesByProduct"
      summary: "Get a list of Templates By Product"
      parameters:
        - name: "productId"
          in: "path"
          description: "Product ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many templates
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: "string"
                    description: Too many templates
                    example: Too many templates
      security:
        - BasicStore: []
        - UnAuthToken: []
  /product-template/{templateId}/products:
    get:
      tags:
        - "Product Template"
      operationId: "getProductsByTemplate"
      summary: "Get a list of Products By Template"
      parameters:
        - name: "templateId"
          in: "path"
          description: "Template ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many products by template
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: "string"
                    description: Too many products by template
                    example: Too many products by template
      security:
        - BasicStore: []
        - UnAuthToken: []
  /sides:
    post:
      tags:
        - "Side"
      operationId: "postSide"
      summary: "Create new product side"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Side"
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SideResponseStore"
        "400":
          description: |
            - Invalid input
            - Invalid Content-type header
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/SideHeaderContentType"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
    get:
      tags:
        - "Side"
      operationId: "getSide"
      summary: "Get a list of product sides"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SideResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many sides
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: Too many sides
                    example: Too many sides
      security:
        - BasicStore: []
        - UnAuthToken: []
  /sides/{sideId}:
    get:
      tags:
        - "Side"
      operationId: "getSideById"
      summary: "Get product side details"
      parameters:
        - name: "sideId"
          in: "path"
          description: "Side ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SideResponseShowDataObject"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
        - UnAuthToken: []
    put:
      tags:
        - "Side"
      operationId: "updateSide"
      summary: "Update a product side details"
      parameters:
        - name: "sideId"
          in: "path"
          description: "Side ID"
          required: true
          schema:
            type: "string"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SideUpdate"
      responses:
        "200":
          description: "Updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SideResponseUpdate"
        "400":
          description: |
            - Invalid input
            - Invalid Content-type header
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/SideHeaderContentType"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
    delete:
      tags:
        - "Side"
      operationId: "deleteSide"
      summary: "Delete a product side"
      parameters:
        - name: "sideId"
          in: "path"
          description: "Side ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
  /sides/batch:
    post:
      tags:
        - "Side"
      operationId: "postSidesBatch"
      summary: "Create batch sides"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SideBatch"
        required: true
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SideBatchResponse"
        "400":
          description: |
            - Invalid input
            - Not found
            - Invalid Content-type header
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/NotFound"
                  - $ref: "#/components/schemas/SideHeaderContentType"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "413":
          description: "Too many sides"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "Too many sides"
                    example: "Too many sides"
        "500":
          description: "Something went wrong while create sides"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Something went wrong while create sides"
                    example: "Something went wrong while create sides"
      security:
        - BasicStore: []
    put:
      tags:
        - "Side"
      operationId: "putSidesBatch"
      summary: "Update batch sides"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SideBatchUpdate"
      responses:
        "200":
          description: "Updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SideBatchUpdateResponse"
        "400":
          description: |
            - Invalid input
            - Not found
            - Invalid Content-type header
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/NotFound"
                  - $ref: "#/components/schemas/SideHeaderContentType"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Can't find side with id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SideError"
        "413":
          description: "Too many sides"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "Too many sides"
                    example: "Too many sides"
        "500":
          description: "Something went wrong while update sides"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Something went wrong while update sides"
                    example: "Something went wrong while update sides"
      security:
        - BasicStore: []
    delete:
      tags:
        - "Side"
      operationId: "deleteSidesBatch"
      summary: "Delete batch sides"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SideBatchDelete"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: " Can't find side with id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SideError"
        "500":
          description: Something went wrong while delete sides
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: Something went wrong while delete sides
                    example: Something went wrong while delete sides
      security:
        - BasicStore: []
  /sides/{sideId}/template-items:
    get:
      tags:
        - "Side"
      operationId: "getTemplateItemsBySide"
      summary: "Get a list of template items by side"
      parameters:
        - name: "sideId"
          in: "path"
          description: "Side ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateItemResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many template items by side
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: Too many template items by side
                    example: Too many template items by side
      security:
        - BasicStore: []
        - UnAuthToken: []
  /sides/count:
    get:
      tags:
        - "Side"
      operationId: "getCountSide"
      summary: "Get a count of product sides"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SideCount"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicStore: []
  /fonts:
    post:
      tags:
        - "Font"
      operationId: "addFont"
      summary: "Add new font"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Font"
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FontResponseStore"
        "400":
          description: "Invalid input"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicStore: []
    get:
      tags:
        - "Font"
      operationId: "getFonts"
      summary: "Get a list of fonts"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FontResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many fonts
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: "string"
                    description: Too many fonts
                    example: Too many fonts
      security:
        - BasicStore: []
        - UnAuthToken: []
  /fonts/{fontId}:
    get:
      tags:
        - "Font"
      operationId: "getFontById"
      summary: "Get font details"
      parameters:
        - name: "fontId"
          in: "path"
          description: "Font ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FontResponseShowDataObject"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
        - UnAuthToken: []
    put:
      tags:
        - "Font"
      operationId: "updateFont"
      summary: "Update font details"
      parameters:
        - name: "fontId"
          in: "path"
          description: "Font ID"
          required: true
          schema:
            type: "string"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FontUpdate"
      responses:
        "200":
          description: "Updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FontResponseUpdate"
        "400":
          description: "Invalid input"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
    delete:
      tags:
        - "Font"
      operationId: "deleteFont"
      summary: "Delete font"
      parameters:
        - name: "fontId"
          in: "path"
          description: "Font ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
  /fonts/count:
    get:
      tags:
        - "Font"
      operationId: "getCountFont"
      summary: "Get a count of fonts"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FontCount"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicStore: []
  /images:
    post:
      tags:
        - "Image"
      operationId: "uploadFile"
      summary: "Add new image"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  type: "string"
                  description: "Image to upload"
                  format: binary
                type: 
                  type: "string"
                  default: null
                  enum:
                    - "null"
                    - "cliparts"
                    - "designs"
      responses:
        "201":
          description: "File successfully uploaded"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageResponseStore"
        "400":
          description: |
            - Invalid input
            - File upload missing
            - Please upgrade your account.
          content:
            application/json:
              schema:
                anyOf: 
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/MissingImage"
                  - $ref: "#/components/schemas/CheckUserTier"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "415":
          description: "Unsupported Media Type"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "Unsupported Media Type"
                    example: "Unsupported Media Type"
      security:
        - BasicStore: []
        - UnAuthToken: []
    get:
      tags:
        - "Image"
      operationId: "getImage"
      summary: "Get a list of images"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many images
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: "string"
                    description: Too many images
                    example: Too many images
      security:
        - BasicStore: []
        - UnAuthToken: []
  /images/{imageId}:
    get:
      tags:
        - "Image"
      operationId: "getImageById"
      summary: "Get image details"
      parameters:
        - name: "imageId"
          in: "path"
          description: "Image ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageResponseShowDataObject"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
    delete:
      tags:
        - "Image"
      operationId: "deleteImageById"
      summary: "Delete a image"
      parameters:
        - name: "imageId"
          in: "path"
          description: "Image Id"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
  /images/batch:
    post:
      tags:
        - "Image"
      operationId: "uploadFiles"
      summary: "Add new batch images"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              properties:
                files[]:
                  type: "string"
                  description: "Image to upload"
                  format: binary
                type: 
                  type: "string"
                  default: null
                  enum:
                    - "null"
                    - "cliparts"
                    - "designs"
      responses:
        "201":
          description: "File successfully uploaded"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageResponseStoreBatch"
        "400":
          description: |
            - Invalid input
            - File upload missing
            - Please upgrade your account.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/MissingImage"
                  - $ref: "#/components/schemas/CheckUserTier"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "415":
          description: "Unsupported Media Type"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "Unsupported Media Type"
                    example: "Unsupported Media Type"
      security:
        - BasicStore: []
        - UnAuthToken: []
  /images/count:
    get:
      tags:
        - "Image"
      operationId: "getCountImage"
      summary: "Get a count of images"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageCount"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicStore: []
  /cliparts:
    post:
      tags:
        - "Clipart"
      operationId: "uploadFileClipart"
      summary: "Add new clipart"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  type: "string"
                  description: "Clipart to upload"
                  format: binary
      responses:
        "201":
          description: "File successfully uploaded"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageResponseStore"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "400":
          description: "File upload missing"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "File upload missing"
                    example: "File upload missing"
        "415":
          description: "Unsupported Media Type"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "Unsupported Media Type"
                    example: "Unsupported Media Type"
      security:
        - BasicStore: []
        - UnAuthToken: []
    get:
      tags:
        - "Clipart"
      operationId: "getClipart"
      summary: "Get a list of cliparts"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many cliparts
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: "string"
                    description: Too many cliparts
                    example: Too many cliparts
      security:
        - BasicStore: []
        - UnAuthToken: []
  /cliparts/{clipartId}:
    get:
      tags:
        - "Clipart"
      operationId: "getClipartById"
      summary: "Get clipart details"
      parameters:
        - name: "clipartId"
          in: "path"
          description: "Clipart ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageResponseShowDataObject"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
        - UnAuthToken: []
    delete:
      tags:
        - "Clipart"
      operationId: "deleteClipartById"
      summary: "Delete a clipart"
      parameters:
        - name: "clipartId"
          in: "path"
          description: "Clipart Id"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
  /clipart/batch:
    post:
      tags:
        - "Clipart"
      operationId: "uploadFilesClipart"
      summary: "Add new batch clipart"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              properties:
                files[]:
                  type: "string"
                  description: "Clipart to upload"
                  format: binary
      responses:
        "201":
          description: "File successfully uploaded"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageResponseStoreBatch"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "400":
          description: "File upload missing"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "File upload missing"
                    example: "File upload missing"
        "415":
          description: "Unsupported Media Type"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    description: "Unsupported Media Type"
                    example: "Unsupported Media Type"
      security:
        - BasicStore: []
        - UnAuthToken: []
  /cliparts/count:
    get:
      tags:
        - "Clipart"
      operationId: "getCountClipart"
      summary: "Get a count of cliparts"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageCount"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicStore: []
        - UnAuthToken: []
  /clipart-storages:
    post:
      tags:
        - "Clipart Storage"
      operationId: "postClipartStorage"
      summary: "Create new Clipart - Storage"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClipartStorage"
      responses:
        "201":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryResponseStore"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
    get:
      tags:
        - "Clipart Storage"
      operationId: "getClipartStorage"
      summary: "Get a list of Cliparts - Storages"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many storages"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Too many storages"
                    example: "Too many storages"
      security:
        - BasicStore: []
        - UnAuthToken: []
  /clipart-storages/{storageId}:
    delete:
      tags:
        - "Clipart Storage"
      operationId: "deleteClipartStorage"
      summary: "Delete a Clipart - Storage"
      parameters:
        - name: "storageId"
          in: "path"
          description: "Storage ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
  /clipart-storages/{storageId}/cliparts:
    get:
      tags:
        - "Clipart Storage"
      operationId: "getClipartsByStorage"
      summary: "Get a list of Cliparts by Storage"
      parameters:
        - name: "storageId"
          in: "path"
          description: "Storage ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many cliparts
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: "string"
                    description: Too many cliparts
                    example: Too many cliparts
      security:
        - BasicStore: []
        - UnAuthToken: []
  /clipart-storages/{clipartId}/storages:
    get:
      tags:
        - "Clipart Storage"
      operationId: "getStoragesByClipart"
      summary: "Get a list of Storages by Clipart"
      parameters:
        - name: "clipartId"
          in: "path"
          description: "Clipart ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many storages
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: "string"
                    description: Too many storages
                    example: Too many storages
      security:
        - BasicStore: []
        - UnAuthToken: []
  /designs:
    post:
      tags:
        - "Design"
      operationId: "postDesign"
      summary: "Create new design"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DesignJson"
          # multipart/form-data:
          #   schema:
          #     $ref: "#/components/schemas/Design"
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignResponseStore"
        "400":
          description: |
            - Invalid input
            - Invalid design file
            - Missing design file
            - Invalid Content-Type header
            - Please upgrade your account.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/InvalidDesignFile"
                  - $ref: "#/components/schemas/MissingDesignFile"
                  - $ref: "#/components/schemas/InvalidContentTypeHeader"
                  - $ref: "#/components/schemas/CheckUserTier"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
        - UnAuthToken: []
    get:
      tags:
        - "Design"
      operationId: "getDesign"
      summary: "Get a list of designs"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many designs
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: "string"
                    description: Too many designs
                    example: Too many designs
      security:
        - BasicStore: []
  /designs/{designId}:
    get:
      tags:
        - "Design"
      operationId: "getDesignById"
      summary: "Get design details"
      parameters:
        - name: "designId"
          in: "path"
          description: "Design ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignResponseShowDataObject"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
        - UnAuthToken: []
    put:
      tags:
        - "Design"
      operationId: "updateDesign"
      summary: "Update design details"
      parameters:
        - name: "designId"
          in: "path"
          description: "Design ID"
          required: true
          schema:
            type: "string"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DesignUpdateJson"
          # multipart/form-data:
          #   schema:
          #     $ref: "#/components/schemas/DesignUpdate"
      responses:
        "200":
          description: "Updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignResponseUpdate"
        "400":
          description: |
            - Invalid input
            - Invalid design file
            - Invalid Content-Type header
            - Please upgrade your account.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/InvalidDesignFile"
                  - $ref: "#/components/schemas/InvalidContentTypeHeader"
                  - $ref: "#/components/schemas/CheckUserTier"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
        - UnAuthToken: []
    delete:
      tags:
        - "Design"
      operationId: "deleteDesign"
      summary: "Delete a design"
      parameters:
        - name: "designId"
          in: "path"
          description: "Design ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
  /designs/batch:
    post:
      tags:
        - "Design"
      operationId: "postDesignsBatch"
      summary: "Create batch designs"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DesignBatchJson"
          # multipart/form-data:
          #   schema:
          #     $ref: "#/components/schemas/DesignBatch"
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignBatchResponse"
        "400":
          description: |
            - Invalid input
            - Invalid design file
            - Missing design file
            - Invalid Content-Type header
            - Please upgrade your account.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/InvalidDesignFile"
                  - $ref: "#/components/schemas/MissingDesignFile"
                  - $ref: "#/components/schemas/InvalidContentTypeHeader"
                  - $ref: "#/components/schemas/CheckUserTier"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many designs"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Too many designs"
                    example: "Too many designs"
        "500":
          description: "Something went wrong while create designs"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Something went wrong while create designs"
                    example: "Something went wrong while create designs"
      security:
        - BasicStore: []
        - UnAuthToken: []
    put:
      tags:
        - "Design"
      operationId: "putDesignsBatch"
      summary: "Update batch designs"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DesignBatchUpdateJson"
          # multipart/form-data:
          #   schema:
          #     $ref: "#/components/schemas/DesignBatchUpdate"
      responses:
        "200":
          description: "Updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignBatchUpdateResponse"
        "400":
          description: |
            - Invalid input
            - Invalid design file
            - Invalid Content-Type header
            - Please upgrade your account.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/InvalidInput"
                  - $ref: "#/components/schemas/InvalidDesignFile"
                  - $ref: "#/components/schemas/InvalidContentTypeHeader"
                  - $ref: "#/components/schemas/CheckUserTier"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: |
            - Not found
            - Can't find design with id
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/NotFound"
                  - $ref: "#/components/schemas/DesignError"
        "413":
          description: "Too many designs"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Too many designs"
                    example: "Too many designs"
        "500":
          description: "Something went wrong while update designs"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Something went wrong while update designs"
                    example: "Something went wrong while update designs"
      security:
        - BasicStore: []
        - UnAuthToken: []
    delete:
      tags:
        - "Design"
      operationId: "deleteDesignsBatch"
      summary: "Delete batch designs"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DesignBatchDelete"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Can't find design with id"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Can't find design with id"
                    example: "Can't find design with id: cce4dc71-6757-4a1c-a259-6b66a4304c14"
        "500":
          description: "Something went wrong while delete designs"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Something went wrong while delete designs"
                    example: "Something went wrong while delete designs"
      security:
        - BasicStore: []
  /designs/{designId}/fonts:
    get:
      tags:
        - "Design"
      operationId: "getFontsInLayersDesignById"
      summary: "Get list fonts layer by design"
      parameters:
        - name: "designId"
          in: "path"
          description: "Design ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignFont"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many fonts"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Too many fonts"
                    example: "Too many fonts"
      security:
        - BasicStore: []
        - UnAuthToken: []
  /designs/images:
    get:
      tags:
        - "Design"
      operationId: "getDesignImage"
      summary: "Get a list images by design"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many images"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Too many images"
                    example: "Too many images"
      security:
        - BasicStore: []
        - UnAuthToken: []
  /designs/count:
    get:
      tags:
        - "Design"
      operationId: "getCountDesign"
      summary: "Get a count of designs"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesignCount"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicStore: []
  /templates:
    post:
      tags:
        - "Template"
      operationId: "postTemplate"
      summary: "Create new template"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Template"
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateResponseStore"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
        - UnAuthToken: []
    get:
      tags:
        - "Template"
      operationId: "getTemplates"
      summary: "Get a list of templates"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many templates"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Too many templates"
                    example: "Too many templates"
      security:
        - BasicStore: []
        - UnAuthToken: []
  /templates/template-default:
    get:
      tags:
        - "Template"
      operationId: "getTemplatesDefault"
      summary: "Get a list of templates default"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many templates"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Too many templates"
                    example: "Too many templates"
      security:
        - BasicStore: []
        - UnAuthToken: []
  /templates/{templateID}:
    get:
      tags:
        - "Template"
      operationId: "getTemplateById"
      summary: "Get template details"
      parameters:
        - name: "templateId"
          in: "path"
          description: "Template ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateResponseShowDataObject"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
        - UnAuthToken: []
    # put:
    #   tags:
    #     - "Template"
    #   operationId: "updateTemplate"
    #   summary: "Update template details"
    #   parameters:
    #     - name: "templateId"
    #       in: "path"
    #       description: "Template ID"
    #       required: true
    #       schema:
    #         type: "string"
    #   requestBody:
    #     required: true
    #     content:
    #       application/json:
    #         schema:
    #           $ref: "#/components/schemas/TemplateUpdate"
    #   responses:
    #     "200":
    #       description: "Updated successfully"
    #       content:
    #         application/json:
    #           schema:
    #             $ref: "#/components/schemas/TemplateResponseUpdate"
    #     "400":
    #       description: "Invalid input"
    #       content:
    #         application/json:
    #           schema:
    #             $ref: "#/components/schemas/InvalidInput"
    #     "401":
    #       description: "Unauthenticated"
    #       content:
    #         application/json:
    #           schema:
    #             $ref: "#/components/schemas/Unauthenticated"
    #     "404":
    #       description: "Not found"
    #       content:
    #         application/json:
    #           schema:
    #             $ref: "#/components/schemas/NotFound"
    #   security:
    #     - BasicStore: []
    #     - UnAuthToken: []
    delete:
      tags:
        - "Template"
      operationId: "deleteTemplate"
      summary: "Delete a template"
      parameters:
        - name: "templateId"
          in: "path"
          description: "Template ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
  /templates/{templateID}/template-items:
    get:
      tags:
        - "Template"
      operationId: "getTemplateItemsByTemplate"
      summary: "Get a list of template items by template"
      parameters:
        - name: "templateId"
          in: "path"
          description: "Template ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateItemResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many template items by template
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: Too many template items by template
                    example: Too many template items by template
      security:
        - BasicStore: []
        - UnAuthToken: []
  /templates/count:
    get:
      tags:
        - "Template"
      operationId: "getCountTemplate"
      summary: "Get a count of templates"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateCount"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
      security:
        - BasicStore: []
  /template-category:
    post:
      tags:
        - "Template Category"
      operationId: "postTemplateCategory"
      summary: "Create new Template - Category"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TemplateCategory"
        required: true
      responses:
        "201":
          description: "Created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryResponseStore"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidInput"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
    get:
      tags:
        - "Template Category"
      operationId: "getTemplateCategory"
      summary: "Get a list of Templates - Categories"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: "Too many storages"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    description: "Too many storages"
                    example: "Too many storages"
      security:
        - BasicStore: []
        - UnAuthToken: []
  /template-category/{categoryId}:
    delete:
      tags:
        - "Template Category"
      operationId: "deleteTemplateCategory"
      summary: "Delete a Template - Category"
      parameters:
        - name: "categoryId"
          in: "path"
          description: "Category ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deleted"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
      security:
        - BasicStore: []
  /template-category/{categoryId}/templates:
    get:
      tags:
        - "Template Category"
      operationId: "getTemplatesByCategory"
      summary: "Get a list of Templates By Category"
      parameters:
        - name: "categoryId"
          in: "path"
          description: "Category ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many templates by category
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: "string"
                    description: Too many templates by category
                    example: Too many templates by category
      security:
        - BasicStore: []
        - UnAuthToken: []
  /template-category/{templateId}/categories:
    get:
      tags:
        - "Template Category"
      operationId: "getCategoriesByTemplate"
      summary: "Get a list of Categories By Template"
      parameters:
        - name: "templateId"
          in: "path"
          description: "Template ID"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Retrieved successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryResponseShowDataArray"
        "401":
          description: "Unauthenticated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthenticated"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
        "413":
          description: Too many categories by template
          content:
            application/json:
              schema:
[...]
